@model List<Roller>
@{
    ViewData["Title"] = "ROLES";
}

<h1 class="bg-info text-white">All Roles</h1>
<a asp-action="Create" class="btn btn-secondary">Create a Role</a>

<table class="table table-sm table-bordered table-bordered">
    <tr><th>ID</th><th>Name</th><th>Users</th><th>Delete</th></tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.RollerID</td>
            <td>@role.RoleAdi</td>
            <td i-role="@role.RollerID"></td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.RollerID" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
